{% macro row(entity,counting=[]) %}

{% if "artists" in entity %}
	<td class='track'>
		<span class='artist_in_trackcolumn'>{{ htmlgenerators.html_links(entity.artists) }}</span> – {{ htmlgenerators.html_link(entity) }}
	</td>
{% else %}
	<td class='artist'>{{ htmlgenerators.html_link(entity) }}
	{% if counting != [] %}
		<span class='extra'>incl. {{ htmlgenerators.html_links(counting) }}</span>
	{% endif %}
	</td>

{% endif %}

{% endmacro %}
