{% import 'snippets/links.jinja' as links %}

{% macro desc(filterkeys,limitkeys,prefix="by") %}

	{% if filterkeys.get('artist') is not none %}
		{{ prefix }} {{ links.link(filterkeys.get('artist')) }}{% if filterkeys.get('associated') %} (and associated artists){% endif %}
	{% elif filterkeys.get('track') is not none %}
		of {{ links.link(filterkeys.get('track')) }}
		by {{ links.links(filterkeys["track"]["artists"]) }}
	{% elif filterkeys.get('album') is not none %}
		from {{ links.link(filterkeys.get('album')) }}
		by {{ links.links(filterkeys["album"]["artists"]) }}
	{% endif %}
	{{ limitkeys.timerange.desc(prefix=True) }}

{% endmacro %}
