{% macro link(entity) -%}
	{% if 'artists' in entity %}
		{% set name = entity.title %}
	{% else %}
		{% set name = entity %}
	{% endif %}

	<a href="{{ url(entity) }}">{{ name }}</a>
{%- endmacro %}

{% macro links(entities) -%}
	{% for entity in entities -%}
		{{ link(entity) }}{{ ", " if not loop.last }}
	{%- endfor %}
{%- endmacro %}



{% macro url(entity) %}
	{% if 'artists' in entity -%}
		{{ mlj_uri.create_uri("/track",{'track':entity}) }}
	{%- else -%}
		{{ mlj_uri.create_uri("/artist",{'artist':entity}) }}
	{%- endif %}
{% endmacro %}



{% macro link_scrobbles(keydicts,amount=None,percent=None) -%}

	<a href='{{ mlj_uri.create_uri("/scrobbles",*keydicts) }}'>
		{%- if percent is not none -%}
			<div style='width:{{ percent }}%;'></div>
		{%- elif amount is not none -%}
			{{ amount }}
		{%- endif -%}

	</a>
{%- endmacro %}


{% macro link_rank(filterkeys,timerange,rank=None,percent=None) %}

	{% if 'track' in filterkeys %}
		{% set url = mlj_uri.create_uri("/charts_tracks",{'timerange':timerange}) %}
	{% elif 'artist' in filterkeys %}
		{% set url = mlj_uri.create_uri("/charts_artists",{'timerange':timerange}) %}
	{% endif %}

	{% set rankclass = {1:'gold',2:'silver',3:'bronze'}[rank] or "" %}

	<a href='{{ url }}'>
		{% if percent is not none %}
			<div class=" {{ rankclass }}" style='width: {{ percent }}%;'></div>
		{% else %}
			{% if rank is not none %}#{{ rank }}{% else %}n/a{% endif %}
		{% endif %}
	</a>
{%- endmacro %}
