{% macro link(entity) -%}
	{% if 'artists' in entity %}
		{% set name = entity.title %}
	{% else %}
		{% set name = entity %}
	{% endif %}

	<a href="{{ url(entity) }}">{{ name }}</a>
{%- endmacro %}

{% macro links(entities) -%}
	{% for entity in entities -%}
		{{ link(entity) }}{{ ", " if not loop.last }}
	{%- endfor %}
{%- endmacro %}



{% macro url(entity) -%}
	{% if 'artists' in entity %}
		{{ mlj_uri.create_uri("/track",{'track':entity}) }}
	{% else %}
		{{ mlj_uri.create_uri("/artist",{'artist':entity}) }}
	{% endif %}
{%- endmacro %}
