# generic temporary / dev files
*.pyc
*.note
*.xcf
/nohup.out
*-old
/*.yml
/pylintrc
.venv/*
/testdata*

# build
/dist
/build
/*.egg-info

# currently not using
/screenshot*.png

# only for development, normally external
/doreah
