# generic temporary / dev files
*.pyc
*.sh
*.txt
*.xcf
nohup.out
/.dev

# user files
*.tsv
*.rulestate
*.log

# currently not using
/screenshot*.png
/proxyscrobble.py

# only for development, normally external
/doreah

# ignore virtual environment
.venv/

# ignore vscode
.vscode/