# generic temporary / dev files
*.pyc
*.sh
*.note
*.xcf
nohup.out
/maloja.egg-info

# user files
*.tsv
*.rulestate
*.log

# currently not using
/screenshot*.png

# only for development, normally external
/doreah
