{% set page ='admin_apikeys' %}
{% extends "abstracts/admin.jinja" %}
{% block title %}Maloja - API Keys{% endblock %}


{% block maincontent %}
Here you can add and remove API keys used by your scrobblers. It is recommended to use
a different key for each scrobbler.<br/><br/>
{{ apikeys.html() }}
{% endblock %}
