{% set page ='admin_overview' %}
{% extends "abstracts/admin.jinja" %}
{% block title %}Maloja - Admin Panel{% endblock %}

{% block scripts %}
	<script>

		function versioncompare(a,b) {
			for (var pos=0;pos<3;pos++) {
				var v1 = parseInt(a[pos]) || 0;
				var v2 = parseInt(b[pos]) || 0;
				if (v1 > v2) { return 1;}
				if (v1 < v2) { return -1;}
			}

			return 0;
		}
		neo.xhttprequest("https://pypi.org/pypi/malojaserver/json",{},"GET",json=true).then((response)=>{
			result = JSON.parse(response.responseText);
			latestvers = result.info.version.split(".");

			neo.xhttprequest("/api/serverinfo",{},"GET",json=true).then((response)=>{

				result = JSON.parse(response.responseText);
				thisvers = result.version;

				document.getElementById("latestversion").innerHTML = latestvers.join(".");
				document.getElementById("currentversion").innerHTML = thisvers.join(".");

				if (versioncompare(latestvers,thisvers) <= 0) {
					document.getElementById("currentversion").style.color = "green";
				}
				else {
					document.getElementById("currentversion").style.color = "red";
					document.getElementById("updatestatus").innerHTML = "Consider updating to take advantage of new features";
				}
			});
		});


		function activate() {
			neo.setCookie("adminmode","true");
			window.location.reload(true);
		}
		function deactivate() {
			neo.setCookie("adminmode","false");
			window.location.reload(true);
		}

	</script>
{% endblock %}


	{% block maincontent %}

	<h2>Update</h2>

	Currently installed Maloja version: <span id="currentversion">Loading...</span><br/>
	Latest recommended Maloja version: <span id="latestversion">Loading...</span><br/>
	<span id="updatestatus"></span>


	<h2>Admin Mode</h2>

	Admin Mode allows you to manually scrobble from various places on the web interface instead of just the dedicated page.<br/><br/>
	{% if adminmode %}
	<span id="adminmodebutton" class="button" onclick="deactivate()">Deactivate</span>
	{% else %}
	<span id="adminmodebutton" class="button" onclick="activate()">Activate</span>
	{% endif %}

	<h2>Links</h2>

	<a class="textlink" target="_blank" rel="noopener noreferrer" href="https://github.com/krateng/maloja/issues/new">Report Issue</a><br/>
	<a class="textlink" target="_blank" rel="noopener noreferrer" href="https://github.com/krateng/maloja/blob/master/README.md">Readme</a><br/>
	<a class="textlink" target="_blank" rel="noopener noreferrer" href="https://pypi.org/project/malojaserver/">PyPi</a><br/>
	{% if false %}
	<h2>Change Password</h2>

	<input class="simpleinput" type="password" placeholder="New Password"></input><br/>
	<input class="simpleinput" type="password" placeholder="Repeat"></input><br/><br/>
	<span class="button" onclick="changepw()">Change</span>
	{% endif %}
	{% endblock %}
