{% extends "base.jinja" %}
{% block title %}Maloja - {{ artist }}{% endblock %}

{% block scripts %}
	<script src="/datechange.js" async></script>
{% endblock %}

{% set charts = dbp.get_charts_artists(filterkeys,limitkeys) %}


{% block content %}

<table class="top_info">
	<tr>
		<td class="image">
			<div style="background-image:url('{{ img }}')"></div>
		</td>
		<td class="text">
			<h1>Artist Charts</h1><a href="/top_artists"><span>View #1 Artists</span></a><br/>
			<span>{{ limitkeys.timerange.desc(prefix=True) }}</span>
			<br/><br/>
			{{ htmlmodules.module_filterselection(_urikeys) }}

		</td>
	</tr>
</table>


{% import 'partials/charts_artists.jinja' as charts_artists %}

{{ charts_artists.charts_artists(limitkeys,amountkeys,compare=False) }}


{% endblock %}
