{% extends "abstracts/base.jinja" %}
{% block title %}Maloja - Artist Charts{% endblock %}

{% block scripts %}
	<script src="/datechange.js" async></script>
{% endblock %}

{% set charts = dbp.get_charts_artists(filterkeys,limitkeys) %}
{% set pages = math.ceil(charts.__len__() / amountkeys.perpage) %}
{% if charts[0] is defined %}
	{% set topartist = charts[0].artist %}
	{% set img = utilities.getArtistImage(artist=topartist,fast=True) %}
{% else %}
	{% set img = "/favicon.png" %}
{% endif %}



{% block content %}

<table class="top_info">
	<tr>
		<td class="image">
			<div style="background-image:url('{{ img }}')"></div>
		</td>
		<td class="text">
			<h1>Artist Charts</h1><a href="/top_artists"><span>View #1 Artists</span></a><br/>
			<span>{{ limitkeys.timerange.desc(prefix=True) }}</span>
			<br/><br/>
			{% import 'snippets/timeselection.jinja' as timeselection %}
			{{ timeselection.selector(filterkeys,limitkeys,delimitkeys) }}

		</td>
	</tr>
</table>

{% if settings('CHARTS_DISPLAY_TILES') %}
	{% include 'partials/charts_artists_tiles.jinja' %}
	<br/><br/>
{% endif %}

{% with compare=true %}
{% include 'partials/charts_artists.jinja' %}
{% endwith %}

{% import 'snippets/pagination.jinja' as pagination %}
{{ pagination.pagination(filterkeys,limitkeys,delimitkeys,amountkeys,pages) }}

{% endblock %}
