{% extends "abstracts/base.jinja" %}
{% block title %}Maloja - Error{% endblock %}

{% block content %}
	<table class="top_info">
		<tr>
			<td class="image">
				<div style="background-image:url('/favicon.png')"></div>
			</td>
			<td class="text">
				<h1>Error {{ errorcode }}</h1><br/>


				<p>That did not work. Don't ask me why.</p>
			</td>
		</tr>
	</table>

{% endblock %}
