{% extends "abstracts/base.jinja" %}
{% block title %}Maloja - Error{% endblock %}

{% block content %}
	<table class="top_info">
		<tr>
			<td class="image">
				<div style="background-image:url('/favicon.png')"></div>
			</td>
			<td class="text">
				<h1>{{ errordesc }}</h1><br/>

			</td>
		</tr>
	</table>



	{% if adminmode %}
		You are only seeing this information because you are in admin mode:
		<br/><br/>
		<div style="white-space: pre-wrap; font-family: monospace;">{% autoescape true -%}
			{{ traceback }}
		{%- endautoescape %}</div>
	{% else %}
		A team of Korean schoolgirls with katanas has been dispatched to deal with this situation.
	{% endif %}


{% endblock %}
