{% extends "abstracts/base.jinja" %}
{% block title %}Maloja - Scrobbles{% endblock %}

{% import 'snippets/filterdescription.jinja' as filterdesc %}
{% import 'snippets/pagination.jinja' as pagination %}

{% set scrobbles = dbp.get_scrobbles(filterkeys,limitkeys,amountkeys) %}
{% set pages = math.ceil(scrobbles.__len__() / amountkeys.perpage) %}

{% if filterkeys.get('track') is not none %}
	{% set img = utilities.getTrackImage(artists=filterkeys.track.artists,title=filterkeys.track.title,fast=True) %}
{% elif filterkeys.get('artist') is not none %}
	{% set img = utilities.getArtistImage(filterkeys.artist,fast=True) %}
{% elif scrobbles.__len__() > 0 %}
	{% set img = utilities.getTrackImage(artists=scrobbles[0].artists,title=scrobbles[0].title,fast=True) %}
{% else %}
	{% set img = "/favicon.png" %}
{% endif %}

{% block content %}


	<table class="top_info">
		<tr>
			<td class="image">
				<div style="background-image:url('{{ img }}')"></div>
			</td>
			<td class="text">
				<h1>Scrobbles</h1><br/>
				{{ filterdesc.desc(filterkeys,limitkeys) }}
				<br/>
				<p class="stats">{{ scrobbles.__len__() }} Scrobbles</p>
				<br/>
				{% import 'snippets/timeselection.jinja' as timeselection %}
				{{ timeselection.selector(filterkeys,limitkeys,delimitkeys) }}

			</td>
		</tr>
	</table>


	{% include 'partials/scrobbles.jinja' %}

	{{ pagination.pagination(filterkeys,limitkeys,delimitkeys,amountkeys,pages) }}


{% endblock %}
