{% extends "abstracts/base.jinja" %}
{% block title %}Maloja{% endblock %}

{% block scripts %}

<script src="/rangeselect.js"></script>
<script>
document.addEventListener('DOMContentLoaded',function() {
	for (let type of ["topartists","toptracks","topalbums","pulse"]) {
		var val = localStorage.getItem("rangeselect_" + type);
		if (val != null) {
			showRange(type,val);
		}
		else {
			showRange(type,'{{ settings["DEFAULT_RANGE_STARTPAGE"] }}');
		}


	}
})
</script>

	<script src="/cookies.js"></script>
	<link rel="stylesheet" href="/static/css/startpage.css" />
{% endblock %}

{% block content -%}

	<div id="startpage">


	{% for module in ['charts_artists','charts_tracks','charts_albums','pulse','lastscrobbles','featured'] %}
	<section id="start_page_module_{{ module }}" style="grid-area: {{ module }}">
	<!-- MODULE: {{ module }} -->

	{% include 'startpage_modules/' + module + '.jinja' %}


	<!-- END MODULE: {{ module }} -->
	</section>
	{% endfor %}

	</div>


{%- endblock %}
