@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
	background-color:#333337;
	color:beige;
	font-family:"Ubuntu";
	padding:15px;
}

a {
	color:inherit;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

/*
**
**
** TOP INFO TABLE
**
**
*/

table.top_info td.image {
	padding:20px;
	padding-left:0px;
	padding-top:0px;
}

table.top_info td.image div {
	background-size:cover;
	background-position:center;
	height:174px;
	width:174px
}

table.top_info td.text {
	vertical-align: top;
    	padding-left: 30px;
}

table.top_info td.text h1 {
	display:inline;
	padding-right:5px;
}

p.desc a {
	padding-left:20px;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:left;
	background-image:url("https://www.last.fm/static/images/lastfm_avatar_twitter.66cd2c48ce03.png");
}



/*
**
**
** SPECIAL TEXT BITS
**
**
*/




.stats {
	color:grey;
}
.rank {
	text-align:right;
	color:grey;
}
.extra {
	color:gray; /*sue me*/
	font-size:80%;
}

a {
	cursor:pointer;
}



/*
**
**
** LISTS
**
**
*/





table.list {
	border-collapse:collapse;
}

table.list tr td {
	border-bottom:2px solid;
	border-color:rgba(0,0,0,0)
	
}

table.list tr:nth-child(even) {
	background-color:#37373B;
}

table.list tr:nth-child(5n) td {
	border-color:rgba(120,120,120,0.2);
	
}

table.list tr:hover {
	background-color:#404044;
}

table td.time {
	width:180px;
	color:gray;
}

table td.icon {
	width:20px;
	height:20px;
	background-size:cover;
	background-position:center;
}

table td.artists,td.artist,td.title {
	width:500px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}


/*
table td.artists div {
	overflow:hidden;
	z-index:1;
	position:relative;
}

table tr td.artists div span {
	//text-overflow:ellipsis;
	z-index:-2;
	position:relative;
	white-space:nowrap;
	
}
table tr:hover td.artists div span {
	animation: bounce 3s linear infinite alternate;
}
@keyframes bounce {
	0% {
		
	}
	100% {
		//transform: translateX(-60px);
		//margin-left:-60px;
		margin-left:-100%;
	}
}

**/

table td.amount {
	width:50px;
	text-align:right;
}
table td.bar {
	width:500px;
	background-color:#333337;
	border-color:rgba(0,0,0,0)!important;
}
table td.bar div {
	background-color:beige;
	height:20px; /* can only do this absolute apparently */
	position:relative;
}
table tr:hover td.bar div {
	background-color:yellow;
	cursor:pointer;
}

table td.button {
	width:200px;
	cursor:pointer;
}

table td.button div {
	background-color:yellow;
	color:#333337;
	padding:3px;
	border-radius:4px;
}

td.button.important div {
	background-color:red;
	color:white;
}






/*
**
**
** IMAGE TILES
**
**
*/







table.tiles_top td {
	padding:0px;
	border:0px;
}

table.tiles_top:hover td div {
	opacity:0.2;
}
table.tiles_top:hover td div:hover {
	opacity:1;
}

table.tiles_top, table.tiles_sub {
	border-collapse: collapse;
}



table.tiles_top>tbody>tr>td {
	height:300px;
	width:300px;
}

table.tiles_sub {
	height:100%;
	width:100%;
}

table.tiles_top td {
	background-size:cover;
	background-position:center;
	vertical-align:bottom;
}

table.tiles_top td span {
	background-color:rgba(0,0,0,0.7);
}

table.tiles_2x2 td {
	height:50%;
	width:50%;
	font-size:90%
}
table.tiles_3x3 td {
	height:33.333%;
	width:33.333%;
	font-size:70%
}
