@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
	background-color:#333337;
	color:beige;
	font-family:"Ubuntu";
	padding:15px;
}

a {
	color:inherit;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}


table.top_info td.image {
	padding:20px;
	padding-left:0px;
	padding-top:0px;
}

table.top_info td.image div {
	background-size:cover;
	background-position:center;
	height:174px;
	width:174px
}

table.top_info td.text {
	vertical-align: top;
    	padding-left: 30px;
}

table.top_info td.text h1 {
	display:inline;
	padding-right:5px;
}
/*
table.top_info td.text .stats {
	color:grey;
}
*/
.stats {
	color:grey;
}
.rank {
	text-align:right;
	color:grey;
}
.extra {
	color:gray; /*sue me*/
	font-size:80%;
}

a {
	cursor:pointer;
}

table.list {
	border-collapse:collapse;
}

table.list tr td {
	border-bottom:2px solid;
	border-color:rgba(0,0,0,0)
	
}

table tr:nth-child(even) {
	background-color:#37373B;
}

table tr:nth-child(5n) td {
	border-color:rgba(120,120,120,0.2);
	
}

table td.time {
	width:200px;
	color:gray;
}
table td.artists,td.artist,td.title {
	width:350px;
}
table td.amount {
	width:50px;
	text-align:right;
}
table td.bar {
	width:500px;
	background-color:#333337;
	border-color:rgba(0,0,0,0)!important;
}
table td.bar div {
	background-color:beige;
	height:20px; /* can only do this absolute apparently */
	position:relative;
}
table tr:hover td.bar div {
	background-color:yellow;
	cursor:pointer;
}

table td.button {
	width:200px;
	cursor:pointer;
}

table td.button div {
	background-color:yellow;
	color:#333337;
	padding:3px;
	border-radius:4px;
}

td.button.important div {
	background-color:red;
	color:white;
}
