div#startpage {
	display: grid;
	justify-content: center;

	display: fixed;
	grid-column-gap: 25px;
	grid-row-gap: 25px;
}


@media (min-width: 2201px) {
	div#startpage {
		grid-template-columns: repeat(6, 14vw);
		grid-template-rows: repeat(2, 45vh);
		grid-column-gap: 2vw;

		grid-template-areas:
			"charts_artists charts_artists charts_tracks charts_tracks charts_albums charts_albums"
			"empty1 lastscrobbles lastscrobbles pulse pulse empty2";
	}
}

@media (min-width: 1401px) and (max-width: 2200px) {
	div#startpage {
		grid-template-columns: 45vw 45vw;
		grid-template-rows: 45vh 45vh 45vh;

		grid-template-areas:
			"charts_artists lastscrobbles"
			"charts_tracks pulse"
			"charts_albums empty";
	}
}

@media (max-width: 1400px) {
	div#startpage {
		grid-template-columns: 90vw;

		grid-template-areas:
			"charts_artists"
			"charts_tracks"
			"charts_albums"
			"lastscrobbles"
			"pulse";
	}

	#start_page_module_featured {
		display: none;
	}
}
